.container {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

h3 {
  color: #333;
  border-bottom: 2px solid #eee;
  padding-bottom: 8px;
}

.grid {
  display: grid;
  min-width: 0;
  overflow: hidden;
}