<div class="rounded-md p-8 pt-2 pb-2 bg-white">
    <p-toast />
    <p-confirmdialog />
    <!-- [globalFilterFields]="['name', 'description', 'category']" -->
    <p-table #dt2 [value]="filterOrders" [tableStyle]="{ 'min-width': '60rem' }" [paginator]="true"
        [rows]="10" [rowsPerPageOptions]="[5, 10, 20]"
        [globalFilterFields]="['status', 'createdAt']">

        <ng-template #caption>
            <div class="flex items-center justify-between">
                <span class="text-xl font-bold">Orders</span>
                <p-select [options]="stateOptions" placeholder="Select" class="w-full md:w-56"
                    (onChange)="onOptionChange($event)">
                </p-select>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="width: 4%">#</th>
                <th>Id</th>
                <th>Table</th>
                <th>Total Price</th>
                <th pSortableColumn="status">Status <p-sortIcon field="status" /></th>
                <th pSortableColumn="createdAt">Create At <p-sortIcon field="createdAt" /></th>
                <th>End At</th>
                <!-- <th style="width: 15%">Actions</th> -->
            </tr>
        </ng-template>
        <ng-template #body let-item let-rowIndex="rowIndex">
            <tr>
                <td>{{ rowIndex + 1 }}</td>
                <td>
                    {{ item.id }}
                </td>
                <td>{{ item.tableNumber }}</td>

                <td>
                    {{ item.totalPrice.toLocaleString('vi-VN') }}
                </td>
                <td>
                    {{ item.status }}
                </td>
                <td>
                    {{ item.createdAt | date:'dd/MM/yy HH:mm' }}

                </td>
                <td>
                    {{ item.endAt | date:'dd/MM/yy HH:mm' }}
                </td>
                <!-- <td *ngIf="item.paymentRequest === true">
                    <p-button label="Create bill" severity="info"
                        (onClick)="confirmCreateBill(item, item.customerName)" />
                </td> -->
            </tr>
        </ng-template>
        <ng-template #footer>
            <tr>
                <td colspan="8" class="custom-footer">
                    In total there are {{ filterOrders.length }} orders.
                </td>
            </tr>
        </ng-template>

    </p-table>
</div>