<p-card *ngIf="item.available" [style]="{ overflow: 'hidden' }">
    <ng-template #header>
        <img alt="Card" class="w-full h-50.5" src="{{item.imgUrl}}" />
    </ng-template>
    <ng-template #title> {{item.name}} </ng-template>
    <ng-template #subtitle> {{item.category}}</ng-template>
    <p>
        {{item.description}}
    </p>
    <p style="font-weight: 600;">
        {{ item.getFormattedPrice() }}
    </p>
    <ng-template #footer>
        <div class="flex gap-4 mt-1">
            <p-inputnumber [(ngModel)]="quantity" [showButtons]="true" buttonLayout="horizontal"
                min="1" max="20" spinnerMode="horizontal" inputId="vertical"
                [inputStyle]="{ width: '3rem' }">
                <ng-template #incrementbuttonicon>
                    <span class="pi pi-plus"></span>
                </ng-template>
                <ng-template #decrementbuttonicon>
                    <span class="pi pi-minus"></span>
                </ng-template>
            </p-inputnumber>
            <p-button label="Order" class="w-full" styleClass="w-full" severity="success"
                (onClick)="addMenuItemToCart()" />
        </div>
    </ng-template>
</p-card>