<p-toast />
<div class="flex items-center justify-center w-full h-full">
    <div class="content-center w-full pr-4 pl-4 md:w-1/2 lg:w-1/3">
        <p-card>
            <h4 class="font-bold text-lg mb-2">ENTRY OUR RESTAURANT</h4>
            <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
                <div class="flex flex-col gap-1 mb-4">
                    <label for="fullname">Full Name</label>
                    <input formControlName="fullName" pInputText id="fullname" />
                    <small
                        *ngIf="entryForm.get('fullName')?.invalid && entryForm.get('fullName')?.touched"
                        class="text-red-500">
                        Full name is required.
                    </small>
                </div>
                <div class="flex flex-col gap-1 mb-4">
                    <label for="phonenumber">Phone Number</label>
                    <input pInputText id="phoneNumber" formControlName="phoneNumber" type="text"
                        maxlength="10" pattern="[0-9]*"
                        (keypress)="preventNonNumericInput($event)" />
                    <small
                        *ngIf="entryForm.get('phoneNumber')?.invalid && entryForm.get('phoneNumber')?.touched"
                        class="text-red-500">
                        Phone number is required.
                    </small>
                </div>
                <div class="flex flex-col gap-1 mb-4">
                    <label for="table">Table</label>
                    <p-floatLabel class="w-full">
                        <p-dropdown inputId="table" formControlName="tableNumber" [options]="tables"
                            optionLabel="number" optionValue="number" option styleClass="w-full" />
                    </p-floatLabel>
                    <small
                        *ngIf="entryForm.get('tableNumber')?.invalid && entryForm.get('tableNumber')?.touched"
                        class="text-red-500">
                        Table number is required.
                    </small>
                </div>
                <div class="flex flex-col gap-1">
                    <p-button type="submit" label="Submit" severity="info"></p-button>
                </div>
            </form>
        </p-card>
    </div>
</div>